PORT=8080
# proxy for local development, connector for Cloud Run
DB_CONNECTION_MODE=proxy
INSTANCE_CONNECTION_NAME=<db-connection-name>
PRIVATE_IP=false
DB_NAME=todoist
DB_USER=todoist_user
DB_HOST=127.0.0.1
DB_PORT=5432
CORS_ORIGINS=http://localhost:5173
