project_id    = "narainkarthik812-practice-dev"
region        = "asia-south1"
instance_name = "narainkarthik812-practice-dev-postgres"

# Cloud SQL API allows selecting major version; patch version (for example 17.9)
# is managed by Google within the POSTGRES_17 track.
database_version = "POSTGRES_17"
tier             = "db-f1-micro"
disk_size_gb     = 10

backup_retained_backups = 7
backup_start_time       = "02:00"

# Existing VPC in current dev environment.
vpc_self_link = "projects/narainkarthik812-practice-dev/global/networks/ownlyst-dev-vpc"

# Allocated private service access range (CIDR /24 by default).
private_ip_prefix_length = 24
